/* -----------------------------------------------
 * External Resources
 * ----------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700&subset=latin-ext');
@font-face {
    font-family: 'MyHeaderFont';
    src: url('resources/SourceCodePro-Regular.otf');
}

/* -----------------------------------------------
 * General + Class Stuff
 * ----------------------------------------------- */

html {
    font: 15px 'Source Sans Pro', sans-serif;
    --main-background-colour: #3BB03B;
    --main-margin: 0 2.5vw 2.5vw 2.5vw;
    --module-padding: 0.75rem;
    --module-background-colour: #FFB100;
    --module-dark-background-colour: #E09C00;
    --link-colour: #0041C7;
    --link-visited-colour: #0034A1;
    --menu-item-background-colour: #999;
    --menu-item-hover-background-colour: #666;
    --menu-font-colour: #111;
}

p,
blockquote,
figure {
    margin: 0;
    padding: 0;
}

//todo: 1. rounded corners. 2. better dark orange 3. remove unneeded sections perpage 4. make other pages

h1 {font-size: 1.75rem;}

h2 {font-size: 1.55rem;}

h3 {font-size: 1.35rem;}

h4 {font-size: 1.25rem;}

h5 {font-size: 1.15rem;}

h6 {font-size: 1.1rem;}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0.5em 0 0.25em 0;
    font-family: 'MyHeaderFont';
}

/*--figure out how to make hx margin top disappear if first element/
 *--how to make header have different top margin based on hx tag inside
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    margin-top: 0;
}
*/

ul, ol {
    margin: 0;
    padding: 0 0 0 30px;
}

a {
    color: var(--link-colour);
    text-decoration: underline;
}

a:visited {
    color: var(--link-visited-colour);
}

a:hover {
    text-decoration: none;
}

.block {
    display: block;
}

/* -----------------------------------------------
 * Body Area, excl. Content Area
 * ----------------------------------------------- */

body {
    background: var(--main-background-colour);
    margin: var(--main-margin);
    font-size: 1rem;
    max-width: 1200px;

    display: grid;
    grid-gap: 0.75rem;
    justify-content: center;
    align-content: center;
    grid-template-columns: 100%;
    grid-template-areas: "nav       "
                         "header    "
                         "before-con"
                         "main      "
                         "after-con "
                         "footer    ";
}

nav#nav {
    grid-area: nav;
    margin: -0.5rem 0 0 0;
    padding: 1.5rem 0.5rem 1rem;
    background: var(--module-background-colour);
}
nav#nav a,
nav#nav a:visited {
    color: var(--menu-font-colour);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.075em;

    padding: 1rem;
}
nav#nav a:hover {
    background: var(--module-dark-background-colour);
}

header#header {
    grid-area: header;
    background: var(--module-background-colour);
    padding: var(--module-padding);
    margin: 0;
}

div#before-con {
    grid-area: before-con;
    background: var(--module-background-colour);
    padding: var(--module-padding);
    margin: 0;
}

div#after-con {
    grid-area: after-con;
    background: var(--module-background-colour);
    padding: var(--module-padding);
}

footer#footer {
    grid-area: footer;
    background: var(--module-background-colour);
    padding: var(--module-padding);
}

/* -----------------------------------------------
 * Content Area
 * ----------------------------------------------- */

main {
    grid-area: main;

    display: grid;
    grid-template-columns: 100%;
    grid-gap: 0.75rem;
    grid-template-areas: "con_nav    "
                         "con_article"
                         "con_sidebar";
    /*make these corners round and fade between dark and normal bg colour*/
    background: var(--module-dark-background-colour);
    padding: var(--module-padding);
}

main nav#con_nav {
    grid-area: con_nav;
    background: var(--module-background-colour);
    padding: var(--module-padding);
}

main article#con_article {
    grid-area: con_article;
    background: var(--module-background-colour);
    padding: var(--module-padding);
}

main div#con_sidebar {
    grid-area: con_sidebar;
    background: var(--module-background-colour);
    padding: var(--module-padding);
}