html {
    font-size: 14px;
    font-family: Helvetica, sans-serif;
    font-color: black;
    --main-background-colour: #339933;
    --module-padding: 0.5rem 1.25rem 0.5rem 1.25rem;
    --module-background-colour: #FFB100;
    --link-colour: #0041C7;
    --link-visited-colour: #0034A1;
    --menu-item-background-colour: #999;
    --menu-item-hover-background-colour: #666;
    --menu-font-colour: #111;
}

h1 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1.55rem;
}

h3 {
    font-size: 1.35rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.15rem;
}

h6 {
    font-size: 1.1rem;
}

a {
    color: var(--link-colour);
    text-decoration: underline;
}

a:visited {
    color: var(--link-visited-colour);
}

a:hover {
    text-decoration: none;
}

body {
    background: var(--main-background-colour);
    font-size: 1rem;
    display: grid;
    grid-gap: 10px;
    margin: 0 3.5rem 1.5rem 3.5rem;
    grid-template-columns: 100%;
    grid-template-areas: "nav       "
                         "header    "
                         "before-con"
                         "main      "
                         "after-con "
                         "footer    ";
}

nav#nav {
    grid-area: nav;
    margin-top: -0.5rem;
    padding: 1.5rem 0.5rem 1rem;
    background: var(--module-background-colour);
}
nav#nav a,
nav#nav a:visited {
    color: var(--menu-font-colour);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.075em;

    padding: 1rem;
    background: var(--menu-item-background-colour);
}
nav#nav a:hover {
    background: var(--menu-item-hover-background-colour);
}

header#header {
    grid-area: header;
    background: var(--module-background-colour);
    padding: var(--module-padding);
}

div#before-con {
    grid-area: before-con;
    background: var(--module-background-colour);
    padding: var(--module-padding);
}

div#after-con {
    grid-area: after-con;
    background: var(--module-background-colour);
    padding: var(--module-padding);
}

footer#footer {
    grid-area: footer;
    background: var(--module-background-colour);
    padding: var(--module-padding);
}

/* -----------------------------------------------
 * Content Area
 * ----------------------------------------------- */

main {
    grid-area: main;

    display: grid;
    grid-template-columns: 100%;
    grid-gap: 10px;
    grid-template-areas: "con_nav    "
                         "con_article"
                         "con_sidebar"
}

main nav#con_nav {
    grid-area: con_nav;
}

main article#con_article {
    grid-area: con_article;
}

main div#con_sidebar {
    grid-area: con_sidebar;
}
