html {
    font-size: 14px;
    font-family: Helvetica, sans-serif;
    font-color: black;
    --main-background-colour: #FFB100;
    --module-background-colour: #bbb;
    --link-colour: #0041C7;
    --link-visited-colour: #0034A1;
    --menu-item-background-colour: #999;
    --menu-item-hover-background-colour: #666;
    --menu-font-colour: #111;
}

h1 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1.55rem;
}

h3 {
    font-size: 1.35rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.15rem;
}

h6 {
    font-size: 1.1rem;
}

a {
    color: var(--link-colour);
    text-decoration: underline;
}

a:visited {
    color: var(--link-visited-colour);
}

a:hover {
    text-decoration: none;
}

body {
    background: var(--main-background-colour);
    font-size: 1rem;
    display: grid;
    margin: 0 1.5rem 1.5rem 1.5rem;
    grid-template-areas: "nav   "
                         "header"
                         "quotes"
                         "main  "
                         "footer";
}

nav#menu {
    grid-area: nav;
    margin-top: -0.5rem;
    padding: 1.5rem 0.5rem 1rem;
    background: var(--module-background-colour);
}
nav#menu a,
nav#menu a:visited {
    color: var(--menu-font-colour);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.075em;

    padding: 1rem;
    background: var(--menu-item-background-colour);
}
nav#menu a:hover {
    background: var(--menu-item-hover-background-colour);
}

header#header {
    grid-area: header;
    background: white;
    padding: 0.5rem 1.25rem 0.5rem 1.25rem;
}


aside#quotes {
    grid-area: quotes;
}

footer#footer {
    grid-area: footer;
}

main {
    grid-area: main;

    display: grid;
    grid-template-columns: 100%;
    grid-gap: 10px;
    grid-template-areas: "con_nav    "
                         "con_intro  "
                         "con_article"
                         "con_sidebar"
                         "con_end    ";
    
}

main nav {
    grid-area: con_nav;
}

main article {
    grid-area: con_article;
}

main div#con_sidebar {

}

main div
