/*This file should only apply for screens larger than 600px wide*/
html {
    font-size: 15px;
}

body {
    grid-template-areas: "nav    nav   "
                         "header header"
                         "main   quotes"
                         "main   ......"
                         "footer footer";
}

main {
    grid-template-areas: "main_nav     main_nav  "
                         "main_article main_intro"
                         "main_article main_side "
                         "main_article .........."
                         "............ main_end  ";
}
