/* -----------------------------------------------
 * External Resources
 * ----------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:700|Source+Sans+Pro:400,400i,700&subset=latin-ext');
@font-face {
	font-family: AcherusGrotesque;
	src: url('acherusgrotesque-regularitalic-webfont.woff2') format('woff2'),
	     url('acherusgrotesque-regularitalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: AcherusGrotesque;
	src: url('acherusgrotesque-regular-webfont.woff2') format('woff2'),
	     url('acherusgrotesque-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* -----------------------------------------------
 * General + Class Stuff
 * ----------------------------------------------- */
html {
	font: 0.9em AcherusGrotesque, Avenir, "Helvetica Neue", Arial, sans-serif;
	--main-background-colour: #333333;
	--main-margin: 0 auto;
	--module-padding: 1rem 3rem;
	--module-background-colour: #EAEAEA;
	--highlight-colour: #3BB03B;
	--highlight-colour-wcag-aa-large: #339933; /*3D703D, 40733F, 417540, 287728*/
	--link-colour: #0041C7;
	--link-visited-colour: #0034A1;
	--unemphasized-nav: #696969;
	/* Prevents Landscape Text Adjustment on iOS*/
	-webkit-text-size-adjust: 100%;
}
body {
	line-height: 1.75em;
}

p,
blockquote,
figure {
	margin: 1rem 0 0 0;
	padding: 0;
}

/*Title*/
h1 {
	font-size: 1.75rem;
	color: var(--highlight-colour-wcag-aa-large);
	font-weight: bold;
}

/*Level One*/
h2 {font-size: 1.55rem;}

/*Level Two*/
h3 {font-size: 1.35rem;}

/*Level Three*/
h4 {font-size: 1.25rem;}

/*Header Spacing*/
h1,
h2,
h3,
h4 {
	margin: 0.5em 0 0.25em 0;
}

/*Level Headings left of content*/
h2,
h3,
h4 {
	margin-left: -0.125em;
}

/*Remove Duplicate Space*/
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	margin-top: 0;
}

/*Subheader*/
header > p {
	margin-top: -0.5em;
	margin-bottom: 0.5em;
	font-style: italic;
}

ul,
ol {
	margin: 0;
	padding: 0 0 0 1.25em;
}

/*Links*/
a {
	color: var(--link-colour);
	text-decoration: underline;
} a:visited {
	color: var(--link-visited-colour);
} a:hover {
	text-decoration: none;
}

.block {
	display: block;
}

.hide {
	display: none;
}

/* -----------------------------------------------
 * Body Area, excl. Content Area
 * ----------------------------------------------- */

body {
	background: var(--main-background-colour);
	margin: var(--main-margin);

	display: grid;
	grid-gap: 0rem;
	justify-content: center;
	align-content: center;
	max-width: 65em;
	grid-template-columns: 100%;
	grid-template-areas:
		"nav       "
		"header    "
		"before-con"
		"main      "
		"after-con "
		"footer    ";
}

section#header {
	background: var(--module-background-colour);
	padding: var(--module-padding);
	padding-bottom: 0;
	grid-area: header;
}
section#header header {
	/* grid-area: header; */
	display: inline-block;
}
section#header img#headshot {
	border-radius: 50%;
	float: right;
	min-height: 100%;
	height: 20vw;
	max-height: 150px;
	margin-top: -1rem;
	margin-bottom: 0.5rem;
}

div#before-con {
	grid-area: before-con;
	background: var(--module-background-colour);
	padding: var(--module-padding);
}

div#after-con {
	grid-area: after-con;
	background: var(--module-background-colour);
	padding: var(--module-padding);
}

footer#footer {
	grid-area: footer;
	background: var(--module-background-colour);
	padding: var(--module-padding);
}

/* -----------------------------------------------
 * Content Area
 * ----------------------------------------------- */

main {
	grid-area: main;

	display: grid;
	grid-template-columns: 100%;
	grid-gap: 0rem;
	grid-template-areas:
		"con_nav    "
		"con_article"
		"con_sidebar";
	/*coloured bands only above and below*/
	background: var(--highlight-colour);
	padding: var(--module-padding);
	padding-left: 0;
	padding-right: 0;
}

main > nav#con_nav {
	grid-area: con_nav;
	background: var(--module-background-colour);
	padding: var(--module-padding);
}

main > #con_article {
	grid-area: con_article;
	background: var(--module-background-colour);
	padding: var(--module-padding);
}

main > div#con_sidebar {
	grid-area: con_sidebar;
	background: var(--module-background-colour);
	padding: var(--module-padding);
}

/* ul.category-list {
	list-style: none;
	padding: 0;
}
ul.category-list > li:before {
	content: '\25B6';
	margin: 0 1em 0 0;
}
ul.category-list > li > div {
	margin-bottom: 2em;
}*/

/* -----------------------------------------------
 * Project List
 * ----------------------------------------------- */
 #con_article.project-list {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
#con_article.project-list > details.project > summary {
	flex: initial;
	display: list-item;
	position: relative;
	min-width: 100px;
	min-height: 100px;
	list-style-type: none;
}
#con_article.project-list > details.project > summary::-webkit-details-marker {
	display: none;
}
#con_article.project-list > details.project > summary > img {
	display: block;
	max-width: 100%;
	max-height: 300px;
}
#con_article.project-list > details.project > summary > .item-overlay {
	--overlay-colour: var(--highlight-colour);
	transition: .5s ease;
	background-color: var(--overlay-colour);
	z-index: 2;
	font-size: 1.2rem;
	text-align: center;
}
#con_article.project-list > details.project > summary > .item-overlay > .item-title {
	--overlay-title-colour: black;
	color: var(--overlay-title-colour);
	padding-left: 0.5em;
	padding-right: 0.5em;
}
#con_article.project-list > details.project > summary > .item-overlay::after {
	content: "\25B6";
	float: right;
	font-size: 1rem;
	margin-right: 0.5em;
	margin-left: 0.25em;
	transition: 1s ease;
}
#con_article.project-list > details.project[open] > summary > .item-overlay::after {
	content: "\25BC";
}
#con_article.project-list > details.project[open] {
	background-color:#dadada;
	padding: 1em;
}
#con_article.project-list > details.project[open] > article {
	display: block;
}
