nav#nav {
	grid-area: nav;
	margin: -0.5rem 0 0 0;
	padding: var(--module-padding);
	background: var(--module-background-colour);
}
nav#nav a,
nav#nav a:visited {
	color: var(--menu-font-colour);
	text-decoration: none;
	font-weight: bold;
	font-size: 1.1rem;

	padding: 1rem;
	display: inline-block;
}
nav#nav a:hover {
	background: var(--highlight-colour);
}
nav#nav a.active,
nav#nav a.active:hover {
	background: var(--module-background-colour);
	color: var(--unemphasized-nav);
	text-decoration: underline;
	text-underline-offset: 0.1em;
	text-decoration-thickness: 0.25em;
}
nav#nav input,
nav#nav span {
	display: none;
	content-visibility: hidden;
}
nav#nav ul {
	list-style: none;
	padding: 0;
}
