{% extends "BDA/static_section.html" %}

{% block content %}
<section id="con_article" class="project-list">
	{% for post in section.pages | sort(attribute="date") | reverse %}
	<details class="project">
		<summary>
			<div class="item-overlay">
				<span class="item-title">{{ post.title }}</span>
			</div>
			<img {% if post.extra.photo %}src="{{ post.extra.photo }}" alt="{{ post.extra.alt }}"{% else %}src="nonexistent.jpg" alt=""{% endif %} />
		</summary>
		<article id="project-{{post.title | slugify}}" class="item-content">
			<small><a href="{{ post.permalink }}">Permalink</a></small>
			{{ post.content | safe }}
		</article>
	</details>
	{%- endfor %}
</section>
{% endblock content %}
