---
layout: BDA_base
---
<section role="banner" id="header">
  <header><h1>{{ page.title }}</h1></header>
  <!--<img src="/media/headshot-optim.jpg" id="headshot" alt="Brendan Arciszewski" />-->
</section>
{% if page.before_con %}
<div id="before-con">{% if page.before_con %}{% include {{ page.before_con }} %}{% endif %}</div>
{% endif %}
<main {% if page.con_sidebar_1 or page.con_sidebar_2 %}class="withSidebar"{% endif %}>
  {% if page.con_nav %}
  <nav id="con_nav">{% include {{ page.con_nav }} %}</nav>
  {% endif %}
  <article id="con_article">
    {{ content }}
  </article>
  <div id="con_sidebar">
    <!-- LinkedIn Badge -->
    <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="brendan-arciszewski"><a class="LI-simple-link" href='https://ca.linkedin.com/in/brendan-arciszewski?trk=profile-badge'>Brendan Arciszewski</a></div>
    <!-- End LinkedIn Badge -->
    {% if page.con_sidebar_1 %}{% include {{ page.con_sidebar_1 }} %}{% endif %}
    {% if page.con_sidebar_2 %}{% include {{ page.con_sidebar_2 }} %}{% endif %}
  </div>
</main>
{% if page.after_con %}
<div id="after-con">
  {% if page.after_con %}{% include {{ page.after_con }} %}{% endif %}
</div>
{% endif %}