---
navigation:
  - text: Home
    url: /
  - text: Projects
    url: /projects/
  - text: Source Code
    url: https://github.com/brendanarciszewski
    gtag: "'event_category': 'External_URL', 'event_label': 'GitHub'"
    target: _blank
  - text: LinkedIn
    url: https://linkedin.com/in/brendan-arciszewski
    gtag: "'event_category': 'External_URL', 'event_label': 'LinkedIn'"
    target: _blank
  - text: Resume
    url: /media/Resume.pdf
    gtag: "'event_category': 'Download', 'event_label': 'Resume'"
    target: _blank
  - text: Contact
    url: mailto:&#104;&#105;&#64;&#98;&#114;&#101;&#110;&#100;&#97;&#110;&#97;&#114;&#99;&#105;&#115;&#122;&#101;&#119;&#115;&#107;&#105;&#46;&#99;&#97;
---
<!DOCTYPE html>
<html lang="en" >
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117362578-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-117362578-1');
  </script>
  <!-- End Google Analytics -->
  <title>{{ page.title }}{% if page.url != '/' %} | BA{% endif %}</title>
  <link rel="stylesheet" href="/css/mobile-base.css">
  <link rel="stylesheet" media="(min-width: 600px)" href="/css/tablet.css">
  <link rel="stylesheet" media="(min-width: 1000px)" href="/css/desktop.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/js/scripts.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta charset="UTF-8" />
  <meta name="description" content="My Personal Website" />
  <meta name="keywords" content="personal, resume, robotics, robots, control systems, control, development" />
  <meta name="author" content="Brendan Arciszewski" />
</head>
<body>
  <nav id="nav">
    {% for link in layout.navigation %}
    <a {% if page.url == link.url %}class="active"{% endif %} href="{{link.url}}" {% if link.gtag %}onclick="gtag('event', 'click', {%raw%}{{%endraw%}{{link.gtag}}});"{% endif %} {% if link.target %}target="{{link.target}}"{% endif %} title="{{link.title}}">{{link.text}}</a>
    {% endfor %}
  </nav>
  {{ content }}
  <footer id="footer"><div id="row1">
    <span style="display: inline-block;">Copyright &copy; 2018—2019 Brendan Arciszewski</span>
  </div></footer>
</body>
</html>